<div class="container   flex items-center mx-auto justify-between  lg:h-[112px] lg:px-[72px] md:px-[48px] px-[24px] h-[72px]">
    <img src="./assets/Logo.png" alt="Logo" class="lg:w-[140px] lg:h-[40px] w-[59px] h-[18px]" >
    <div>
       
          <ul  #navs
  class="sm:flex
   gap-[32px]
  sm:w-[460px]
   sm:h-[44px]
    font-poopinem
     sm:font-medium
      sm:text-[16px]
       sm:items-center
        sm:leading-[24px]
         text-[#777E90]
         hidden
            "
>
  <li #li>
    <a 
      routerLink="/home" 
      routerLinkActive="text-[#04B90B]" 
    >
      Home
    </a>
  </li>
  <li #li>
    <a 
      routerLink="/menu"
      routerLinkActive="active" 
      
    >
      Menu
    </a>
  </li>
  <li #li>
    <a 
      routerLink="/blog" 
      routerLinkActive="active" 
      
    >
      Blog
    </a>
  </li >
  <li #li>
    <a 
      routerLink="/contact" 
      routerLinkActive="active" 
      
    >
      Contact
    </a>
  </li>
  <li #li>
    <button class="bg-[#04B90B] px-[20px] py-[10px] w-[137px] h-[44px] rounded-[8px] uppercase text-white">
    <a
    routerLink="/order" 
    >Order Now</a>  
    </button>
  
  </li>
</ul>
        

  <app-drop-down class="sm:hidden"></app-drop-down>


    </div>
</div>